[문제10]

데이터 제어 언어(DCL)인 GRANT에 대한 설명으로 옳은 것을 골라주세요

- 사용자에게 특정 작업을 수행할 권한을 부여한다.
- 사용자로부터 특정 작업 수행 권항을 제거한다.
- 다른 사용자에게 동일한 권한을 전달할때 사용한다.
- 부여된 권한 중 일부를 제한할때 사용한다.

정답 : 사용자에게 특정 작업을 수행할 권한을 부여한다

[문제11]

테이블을 생성하기 위해서 사용되는 sql문을 선택해주세요

- CREATE TABLE
- CREATE NEW TABLE
- ADD TABLE
- UPDATE TABLE

정답 : CREATE TABLE

[문제12]

테이블 생성 시 컬럼(속성)에 값이 항상 존재하도록 설정하는 명령어를 선택해주세요

- IS NULL
- NOT NULL
- IN NULL
- NULL

정답 : NOT NULL

[문제13]

테이블 생성 시 컬럼(속성)에 중복된 값을 허용하지 않도록 설정하는 명령어를 모두 선택해주세요

- UNIQUE
- DEFAULT False
- PRIMARY KEY
- AUTO_INCREMENT

정답 : UNIQUE, PRIMARY KEY

[문제14]

데이터베이스의 숫자형 데이터 타입이 아닌것을 선택해주세요

- BIT
- INT
- CHAR
- BIGINT

정답 : CHAR

[문제15]

날짜와 시간을 같이 나타내는 데이터 타입을 선택해주세요

- DATE
- TIME
- DATETIME

정답 : DATETIME

[문제16]

CHAR과 VARCHAR의 차이로 옳은 것을 선택해 주세요

- 저장할 수 있는 데이터 종류(문자, 숫자)가 다름
- 데이터를 담을 수 있는 공간이 고정인지 가변인지의 차이
- 문자열 값을 정수로 표현할 수 있는지의 차이
- 한번 입력된 데이터의 수정 여부의 차이

정답 : 데이터를 담을 수 있는 공간이 고정인지 가변인지의 차이

[문제17]

데이터베이스 내의 트랜잭션을 관리하는데 사용되는 언어를 선택해주세요

- DCL
- DML
- TCL
- DDL

정답 : TCL

[문제18]

칼럼에 저장될 수 있는 값의 범위나 조건을 지정하는 명령어를 선택해주세요

- IN
- WHERE
- CHECK
- ON

정답 : CHECK

In [ ]:
- 프로젝트 과제 참고 코드 :
    
    ### 과제 1 참고 코드
    
    ```sql
    -- MySQL root 계정으로 로그인
    mysql -u root -p
    
    -- mysql 데이터베이스 사용
    USE mysql;
    
    -- 새로운 사용자 생성
    CREATE USER 'fishbread_user'@'localhost' IDENTIFIED BY 'password123';
    
    -- 사용자에게 모든 데이터베이스에 대한 모든 권한 부여
    GRANT ALL PRIVILEGES ON *.* TO 'fishbread_user'@'localhost';
    
    -- 권한 적용
    FLUSH PRIVILEGES;
    
    -- 부여된 권한 확인
    SHOW GRANTS FOR 'fishbread_user'@'localhost';
    
    ```
    
    ### 과제 2참고 코드
    
    1. 데이터베이스 생성 :
        
        ```sql
        -- 데이터베이스 생성
        CREATE DATABASE fishbread_db;
        
        -- 데이터베이스 사용
        USE fishbread_db;
        ```
        
    2. User 테이블 생성 : 
        
        ```sql
        CREATE TABLE users (
            user_id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(255) NOT NULL,
            age INT NOT NULL,
            email VARCHAR(100) UNIQUE,
            is_business BOOLEAN DEFAULT FALSE
        );
        
        ```
        
    3. orders 테이블 생성 :
        
        ```sql
        CREATE TABLE orders (
            order_id INT AUTO_INCREMENT PRIMARY KEY,
            user_id INT,
            order_date DATE,
            amount DECIMAL(10, 2),
            FOREIGN KEY (user_id) REFERENCES users(user_id)
        );
        
        ```
        
        1. inventory 테이블 생성 :
            
            ```sql
            CREATE TABLE inventory (
                item_id INT AUTO_INCREMENT PRIMARY KEY,
                item_name VARCHAR(255) NOT NULL,
                quantity INT NOT NULL
            );
            
            ```
            
    4. sales 테이블 생성
        
        ```sql
        CREATE TABLE sales (
            sale_id INT AUTO_INCREMENT PRIMARY KEY,
            order_id INT,
            item_id INT,
            quantity_sold INT NOT NULL,
            FOREIGN KEY (order_id) REFERENCES orders(order_id),
            FOREIGN KEY (item_id) REFERENCES inventory(item_id)
        );
        
        ```
        
    5. daily_sales 테이블 생성
        
        ```sql
        CREATE TABLE daily_sales (
            date DATE PRIMARY KEY,
            total_sales DECIMAL(10, 2) NOT NULL
        );
        ```