In [2]:
# PymongoDB 설치
%pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in /Users/admin/Library/Python/3.9/lib/python/site-packages (4.15.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/admin/Library/Python/3.9/lib/python/site-packages (from pymongo) (2.7.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
# DB 연결
from pymongo import MongoClient

# MongoDB 인스턴스에 연결
client = MongoClient('mongodb://localhost:27017/')
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
from pymongo import MongoClient

client = MongoClient("mongodb://root:1234@localhost:27017/admin")

In [ ]:
# client = MongoClient('mongodb://username:password@localhost:27017/')

In [4]:
# 데이터베이스 선택 (없으면 자동 생성)
db = client['example_db']
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'example_db')

In [5]:
# 콜렉션 선택 (없으면 자동 생성)
collection = db['example_collection']
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'example_db'), 'example_collection')

### CRUD

In [18]:
# 새 문서 삽입
example_document = {"name": "Amy", "age": 50, "city": "Callifornia"}

collection.insert_one(example_document)

InsertOneResult(ObjectId('6901c32e37bb95b670245afd'), acknowledged=True)

In [19]:
# 모든 문서 조회
for doc in collection.find():
    print(doc)

{'_id': ObjectId('6901c20f37bb95b670245af5'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6901c30737bb95b670245af6'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6901c30837bb95b670245af7'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6901c30937bb95b670245af8'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6901c30a37bb95b670245af9'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6901c32d37bb95b670245afa'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}
{'_id': ObjectId('6901c32e37bb95b670245afb'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}
{'_id': ObjectId('6901c32e37bb95b670245afc'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}
{'_id': ObjectId('6901c32e37bb95b670245afd'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}

In [20]:
# 조건에 맞는 문서 조회
query = {"name": "John"}
for doc in collection.find(query):
    print(doc)

{'_id': ObjectId('6901c20f37bb95b670245af5'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6901c30737bb95b670245af6'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6901c30837bb95b670245af7'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6901c30937bb95b670245af8'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6901c30a37bb95b670245af9'), 'name': 'John', 'age': 30, 'city': 'New York'}

In [26]:
# 하나의 문서 업데이트
collection.update_one({"name": "John"}, {"$set": {"age": 31}})

for doc in collection.find():
    print(doc)

{'_id': ObjectId('6901c20f37bb95b670245af5'), 'name': 'John', 'age': 31, 'city': 'New York'}
{'_id': ObjectId('6901c30737bb95b670245af6'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6901c30837bb95b670245af7'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6901c30937bb95b670245af8'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6901c30a37bb95b670245af9'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6901c32d37bb95b670245afa'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}
{'_id': ObjectId('6901c32e37bb95b670245afb'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}
{'_id': ObjectId('6901c32e37bb95b670245afc'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}
{'_id': ObjectId('6901c32e37bb95b670245afd'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}

In [27]:
# 여러 문서 업데이트
collection.update_many({"name": "John"}, {"$set": {"age": 32}})

for doc in collection.find():
    print(doc)

{'_id': ObjectId('6901c20f37bb95b670245af5'), 'name': 'John', 'age': 32, 'city': 'New York'}
{'_id': ObjectId('6901c30737bb95b670245af6'), 'name': 'John', 'age': 32, 'city': 'New York'}
{'_id': ObjectId('6901c30837bb95b670245af7'), 'name': 'John', 'age': 32, 'city': 'New York'}
{'_id': ObjectId('6901c30937bb95b670245af8'), 'name': 'John', 'age': 32, 'city': 'New York'}
{'_id': ObjectId('6901c30a37bb95b670245af9'), 'name': 'John', 'age': 32, 'city': 'New York'}
{'_id': ObjectId('6901c32d37bb95b670245afa'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}
{'_id': ObjectId('6901c32e37bb95b670245afb'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}
{'_id': ObjectId('6901c32e37bb95b670245afc'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}
{'_id': ObjectId('6901c32e37bb95b670245afd'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}

In [29]:
# 하나의 문서 삭제
collection.delete_one({"name": "John"})

for doc in collection.find():
    print(doc)

{'_id': ObjectId('6901c30837bb95b670245af7'), 'name': 'John', 'age': 32, 'city': 'New York'}
{'_id': ObjectId('6901c30937bb95b670245af8'), 'name': 'John', 'age': 32, 'city': 'New York'}
{'_id': ObjectId('6901c30a37bb95b670245af9'), 'name': 'John', 'age': 32, 'city': 'New York'}
{'_id': ObjectId('6901c32d37bb95b670245afa'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}
{'_id': ObjectId('6901c32e37bb95b670245afb'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}
{'_id': ObjectId('6901c32e37bb95b670245afc'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}
{'_id': ObjectId('6901c32e37bb95b670245afd'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}

In [30]:

# 여러 문서 삭제
collection.delete_many({"name": "John"})

for doc in collection.find():
    print(doc)

{'_id': ObjectId('6901c32d37bb95b670245afa'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}
{'_id': ObjectId('6901c32e37bb95b670245afb'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}
{'_id': ObjectId('6901c32e37bb95b670245afc'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}
{'_id': ObjectId('6901c32e37bb95b670245afd'), 'name': 'Amy', 'age': 50, 'city': 'Callifornia'}

In [31]:
# 콜렉션 삭제
db.drop_collection("example_collection")

{'nIndexesWas': 1, 'ns': 'example_db.example_collection', 'ok': 1.0}

In [32]:
# 데이터베이스 삭제
client.drop_database("example_db")